body {
  text-align: center;
  border:solid;
  border-radius: 5px;
}
h1 {
  font-family: verdana;
  font-size: 48px;
  color:#FF8A65;
  background-color:grey;
}
h2 {
  color:#7B1FA2;
  background-color: #7CB342 ;
}
#image{
  height:300px;
  max-width: 100%;
  display: block;
  height:auto;
  border:solid;
  border-radius: 5px;
  border-color: #43A047 ;

}

}
#img-caption {
  font-family: Sans-serif;
}
p {
  font-family: Helvetica;
}
#tribute-link {
  background: white ;
  color:#212121;
}
#tribute-link:hover{
  color: #DD2C00;
   background:#E65100;
}